.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    left: 6vw;
    align-items: start;
    max-width: 50%;
    bottom: 10%;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    font-size: max(4.3vw,22px);
    color: white;
}

.header-contents p{
    font-weight: normal;
    font-size: 1vw;
    color: whitesmoke;
}

.header-contents button{
    border: none;
    padding: 8px 20px;
    color: #747474;
    background-color: white;
    border-radius: 4vw;
    font-size: max(1vw,13px);
    font-weight: 500;
    cursor: pointer;
}

@media (max-width:1050px) {
    .header-contents{
        max-width: 55%;
    }
}

@media (max-width:750px) {
    .header-contents{
        max-width: 75%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}

@media (max-width:380px) {

    .header-contents{
        max-width: 85%;
    }
    .header-contents h2{
        font-size: 15px;
    }
    .header-contents button{
        padding: 1vw 2vw;
        font-size: 11px;
    }
    
}