.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
    font-weight: 400;
}

.navbar-menu li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar button{
    padding: 8px 20px;
    border: 1px solid tomato;
    font-size: 14px;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;
    font-weight: 400;
    color: #49557e;
    transition: 0.5s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 1px;
    border-bottom: 2px solid #49557e;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile{
    position: relative;
    cursor: pointer;
}

.navbar-profile-dropdown{
    position: absolute;
    display: none;
    z-index: 1;
    right: 0;
}

.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 25px;
    border: 1px solid tomato;
    border-radius: 5px;
    outline: 2px solid white;
    background-color: #fff2ef;
    list-style: none;
}

.navbar-profile-dropdown li{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 15px;
}

.navbar-profile-dropdown li img{
    width: 20px;
}

.navbar-profile-dropdown li p:hover{
    color: #49557e;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:770px) {
    
    .navbar-menu{
        display: none;
    }
    
}

@media (max-width:380px) {

    .navbar .logo{
        width: 90px;
    }
    
    .navbar-right{
        gap: 10px;
    }
    .navbar-right img{
        width: 15px;
    }
    .navbar-right button{
        padding: 5px 10px;
        font-size: 10px;
    }
    
}