.app-download{
    font-size: max(2.7vw,20px);
    text-align: center;
    margin-top: 60px;
    font-weight: 500;
}

.app-download-platforms{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.app-download-platforms img{
    width: 10vw;
    max-width: 180px;
    cursor: pointer;
    transition: 0.5s;
}

.app-download-platforms img:hover{
    transform: scale(1.05);
}

@media (max-width:1050px) {
    .app-download-platforms{
        gap: 10px;
    }
    .app-download-platforms img{
        width: 30vw;
    }
}